.title-area {
	display: none;
}

.top-bar-section {
	text-align: center;

	ul {
		display: inline-block;
	}
}

.logo {
	display: inline-block;
	a {
		&:hover {
			background: none !important;
		}
	}
}