@font-face {
  font-family: 'altehaasgroteskregular';
  src: url("../fonts/altehaasgroteskregular-webfont.eot");
  src: url("../fonts/altehaasgroteskregular-webfont.eot?#iefix") format("eot"), url("../fonts/altehaasgroteskregular-webfont.woff") format("woff"), url("../fonts/altehaasgroteskregular-webfont.ttf") format("truetype"), url("../fonts/altehaasgroteskregular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'altehaasgroteskregular';
    src: url("../fonts/altehaasgroteskregular-webfont.svg") format("svg");
  }
}
@font-face {
  font-family: 'altehaasgroteskbold';
  src: url("../fonts/altehaasgroteskbold-webfont.eot");
  src: url("../fonts/altehaasgroteskbold-webfont.eot?#iefix") format("eot"), url("../fonts/altehaasgroteskbold-webfont.woff") format("woff"), url("../fonts/altehaasgroteskbold-webfont.ttf") format("truetype"), url("../fonts/altehaasgroteskbold-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'altehaasgroteskbold';
    src: url("../fonts/altehaasgroteskbold-webfont.svg") format("svg");
  }
}
